<ul class="nav navbar-nav">
    @if (Request.IsAuthenticated)
    {
        <li style="color:white; padding-top: 15px; padding-bottom: 15px;">@Html.Encode(User.Identity.Name)</li>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Log Out", "LogOut", "User")</li>
    }
    else
    {
        <li>@Html.ActionLink("Register", "Registration", "User")</li>
        <li>@Html.ActionLink("Log In", "LogIn", "User")</li>
    }
</ul>