@model List<Delas.Site.Models.HistoryViewModel>
@{
    ViewBag.Title = "History";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Amount</th>
            <th>OperationType</th>
            <th>Account</th>
            <th>Balance</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.Title</td>
                <td>@x.Amount</td>
                <td>@x.OperationType</td>
                <td>@x.DestinationAccount</td>
                <td>@x.Balance</td>
                <td>@x.Date</td>
            </tr>
        }
    </tbody>
</table>