@model Delas.Site.Models.HomePageViewModel
@{
    ViewBag.Title = "Home Page";
}



<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12"><h2>Informations</h2></div>
        <div class="col-xs-4">
            Email: @Model.userInformation.Login
        </div>
        <div class="col-xs-4">
            Name: @Model.userInformation.Name
        </div>
        <div class="col-xs-4">
            Surname: @Model.userInformation.Surname
        </div>
    </div>
    <div class="row" style="padding-top:50px;">
        <div class="col-xs-12"><h2>Accounts</h2></div>
        <a class="btn btn-default" href="/Home/CreateAccount" role="button"><i class="glyphicon glyphicon-plus"></i></a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Balance</th>
                    <th>History</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model.bankAccount)
                {
                    <tr>
                        <td>@x.Number</td>
                        <td>@x.Balance</td>
                        <td><a class="btn btn-default" href="/Home/History/@x.Id" role="button"><i class="glyphicon glyphicon-list-alt"></i></a></td>
                        <td><a class="btn btn-default" href="/Home/DeleteAccount/@x.Id" role="button"><i class="glyphicon glyphicon-trash"></i></a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>