@model Delas.Site.Models.RegistrationModel
@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Registraion failed");
    <div>
        <fieldset>
            <legend>Registration Form</legend>
            <div>
                @Html.LabelFor(x => x.Login)
            </div>
            <div>
                @Html.TextBoxFor(x => x.Login)
                @Html.ValidationMessageFor(x => x.Login)
            </div>

            <div>
                @Html.LabelFor(x => x.Name)
            </div>
            <div>
                @Html.TextBoxFor(x => x.Name)
                @Html.ValidationMessageFor(x => x.Name)
            </div>

            <div>
                @Html.LabelFor(x => x.Surname)
            </div>
            <div>
                @Html.TextBoxFor(x => x.Surname)
                @Html.ValidationMessageFor(x => x.Surname)
            </div>

            <div>
                @Html.LabelFor(x => x.Password)
            </div>
            <div>
                @Html.PasswordFor(x => x.Password)
                @Html.ValidationMessageFor(x => x.Password)
            </div>
            <input type="submit" value="Register" />
        </fieldset>
    </div>
}

